awscli==1.18.91
boto3==1.14.14
botocore==1.17.14
colorama==0.4.3
cycler==0.10.0
Cython
docutils==0.15.2
jmespath==0.10.0
kiwisolver==1.2.0
matplotlib==3.2.2
numpy==1.19.0
opencv-python==4.2.0.34
pandas
Pillow==7.2.0
pyasn1==0.4.8
pyparsing==2.4.7
python-dateutil==2.8.1
PyYAML==5.3.1
rsa==3.4.2
s3transfer==0.3.3
scipy==1.4.1
tensorboard
tensorflow-gpu>=1.15.0
torch>=1.4
torchvision
tqdm>=4.28.1
six==1.15.0
urllib3==1.25.9
